/Robby Conitra/nbproject/private/
/Robby Conitra/build/
/Coba/nbproject/private/
/Coba/build/
/Prison/nbproject/private/
/Prison/build/
/Static/nbproject/private/
/Static/build/
/Array/nbproject/private/
/Array/build/
/JavaFX_Test/nbproject/private/
/JavaFX_Test/build/
/JavaFX_Test/dist/
/Kalkulator/nbproject/private/
/Kalkulator/build/
/pewarisan/nbproject/private/
/pewarisan/build/
